// $bg-color:;
// $prim-color:;
// $sec-color:;
// $ter-color:;
// $acc-color:;
// $sha-color:;



$global-font-size: 62.5%;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: $global-font-size;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: $prim-color;
  // font-weight: ;
  line-height: 1.5;
}
