:root {
  --lit-bg: #959595;
  --dark-bg: #161616;
  --acc-col: #e81743;
  --acc-col2: #1b1b2d;
  --acc-text: rgba(255, 255, 255, 0.9);

  --prim-font:Lato, 'sans-serif';;
  --sec-font:Arial, Helvetica, 'sans-serif';
  --ter-font:'Cascadia code';

  --global-font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--global-font-size);
}

body {
  background-color: var(--lit-bg);
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--lit-bg);
  // font-weight:  ;
  line-height: 1.5;

}
