@import './global';
@import './grid';
@import './utility';

.wrapper {
  display: flex;
  flex-direction: column;
  // font-size: 
  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.main-data {
  background-color: var(--dark-bg);
  background-image: url('../images/mypic.jpg');
  background-position: top left;
  background-size: 10vh;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    height: 100vh;
    width: 45vw;
    justify-content: right;
  }

  @media screen and (min-width: 1200px) {
    width: 55rem;
  }
}

.logo {
  flex: 2;
}

.hero-info {
  color: var(--lit-bg);
  margin-bottom: -14.5rem;
  flex: 1;

  @media screen and (min-width: 991px) {
    width: 55rem;
    margin-bottom: 0;
  }

  h3 {
    font-family: var(--prim-font);
    text-transform: uppercase;
  }

  &_intro {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
  }

  &_name {
    font-family: var(--sec-font);
    font-size: 17rem;
    padding-top: 5rem;
    font-weight: bold;
    letter-spacing: -2.4rem;
    line-height: 0.71;
    text-transform: uppercase;
    text-align: center;
  }

  &_role {
    color: var(--dark-bg);
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: -7px;
    line-height: 0.9;
    position: relative;
    z-index: 999;

    @media screen and (min-width: 600px) {
      margin-left: 5rem;
    }

    @media screen and (min-width: 800px) {
      margin-left: 15rem;
    }
    @media screen and (min-width: 991px) {
      color: var(--lit-bg);
    }
  }
}

.text-accent {
  color: var(--acc-col);
}

.detail-data {
  display: flex;
  flex-direction: column;
}

.card {
  background: url('../images/card.jpg') top left no-repeat;
  height: 73rem;
  background-size: contain;
  margin-left: 18rem;
  position: relative;

  @media screen and (min-width: 600px) {
    margin-left: 25rem;
  }

  @media screen and (min-width: 800px) {
    margin-left: 35rem;
  }

  @media screen and (min-width: 991px) {
    margin-left: 10rem;
    /* height: 80rem; */
    width: 30rem;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 10vw;
    /* height: 83rem; */
    width: 30rem;
  }
}
 .about-me {
  font-family: var(--ter-font);
  position: absolute;
  top: 43rem;
  left: 2rem;
  width: 26rem;
  color: var(--acc-text);
  font-size: 1.4rem;
  line-height: 1;
}

.social {
  position: absolute;
  top: 66rem;
  left: 7rem;

  @media screen and (min-width: 991px) {
    top: 65.5rem;
    left: 8rem;
  }

  &-links {
    width: 3rem;
  }
}

ul {
  margin: 3rem 0 0 0;
  text-align: center;
}

li {
  display: inline;
  padding-right: 2rem;
  font-family: var(--prim-font);
  font-size: 2rem;
  font-weight: 600;
}

.symbol-one {
  position: absolute;
  top: 30rem;
  left: 5rem;
  font-size: 20rem;
  font-weight: bold;
  color: #888;
}

.symbol-three {
  position: absolute;
  top: -20rem;
  right: -23rem;
  font-size: 50rem;
  font-weight: bold;
  color: #888;
  z-index: -999;
}

footer {
  text-align: center;
  font-family: var(--prim-font);
  font-weight: 400;
  color: #555;
}

li a {
  text-decoration: none;
  color: var(--dark-bg);
}

button {
  padding: 1.7rem 0 1.7rem 0;
  font-family: var(--prim-font);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.buttons {
  align-self: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 20rem;

  @media screen and (min-width: 991px) {
    margin-top: 4rem;
  }
}

.button1 {
  background-color: var(--acc-col2);
  color: var(--acc-text);
}

.button2 {
  margin-top: 0.7rem;
  background-color: var(--acc-col);
}


