@import './global';
@import './utility';
@import './mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  // font-size:
  @include responsive(tab-land) {
    flex-direction: row;
  }
}

.main-data {
  background-color: var(--dark-bg);
  background-image: url('../images/mypic.jpg');
  background-position: top left;
  background-size: 10vh;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;

  @include responsive(tab-land) {
    height: 100vh;
    justify-content: right;
  }

  @media screen and (min-width: 1200px) {
  }
}

.logo {
  flex: 2;
}

.hero-info {
  color: var(--lit-bg);
  margin-bottom: -14.5rem;
  flex: 1;
  font-family: var(--prim-font);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @include responsive(tab-land) {
    padding-left: 4vw;
    margin-bottom: 0;
  }
  @include responsive(desktop) {
    padding-left: 9vw;
    margin-bottom: 0;
  }

  &_intro {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
  }

  &_name {
    font-family: var(--sec-font);
    font-size: 17rem;
    padding-top: 5rem;
    font-weight: bold;
    letter-spacing: -2.4rem;
    line-height: 0.71;
    text-transform: uppercase;
    text-align: center;

    @include responsive(tab-land) {
      align-self: flex-end;
    }
  }

  &_role {
    color: var(--dark-bg);
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: -7px;
    line-height: 0.9;
    position: relative;
    z-index: 999;
    margin-left: 2rem;

    @include responsive(phone) {
      margin-left: 10rem;
    }

    @include responsive(tab-port) {
      margin-left: 15rem;
    }

    @include responsive(tab-land) {
      color: var(--lit-bg);
    }
  }
}

.text-accent {
  color: var(--acc-col);
}

.detail-data {
  display: flex;
  flex-direction: column;

  // @include responsive(desktop) {
  //   flex-direction: row;
  // }
}
.detail_wrapper {
  align-self: center;

  @include responsive(phone) {
    display: flex;
    flex-direction: row;
  }
  @include responsive(tab-land) {
    flex-direction: column;
  }
  @include responsive(desktop) {
    flex-direction: row;
    // margin-bottom: 15rem;
  }
}

.card {
  // height: 73rem;
  margin-left: 17rem;
  position: relative;

  @include responsive(phone) {
    margin-left: 0;
    order: 1;
  }

  @include responsive(tab-land) {
    margin-left: 14rem;
    /* height: 80rem; */
    width: 30rem;
    order: 0;
  }

  @include responsive(desktop) {
    margin-left: 12vw;
    /* height: 83rem; */
    // width: 30rem;
  }
  &_image {
    height: 73rem;
  }
}
.about-me {
  font-family: var(--ter-font);
  position: absolute;
  top: 43rem;
  left: 2rem;
  width: 26rem;
  color: var(--acc-text);
  font-size: 1.4rem;
  line-height: 1;
}

.social {
  position: absolute;
  top: 66rem;
  left: 7rem;

  @include responsive(tab-land) {
    top: 65.5rem;
    left: 8rem;
  }

  &-links {
    width: 3rem;
  }
}

ul {
  margin: 3rem 0 0 0;
  text-align: center;
  display: flex;
}

li {
  display: inline;
  padding-right: 2rem;
  font-family: var(--prim-font);
  font-size: 2rem;
  font-weight: 600;
}

.symbol-one {
  position: absolute;
  top: 30rem;
  left: 5rem;
  font-size: 20rem;
  font-weight: bold;
  color: #888;
}

.symbol-three {
  position: absolute;
  top: -20rem;
  right: -23rem;
  font-size: 50rem;
  font-weight: bold;
  color: #888;
  z-index: -999;
}

footer {
  text-align: center;
  font-family: var(--prim-font);
  font-weight: 400;
  color: #555;

  @include responsive(tab-land) {
    margin-top: 7rem;
  }
}

li a {
  text-decoration: none;
  color: var(--dark-bg);
  transition: all 0.3s;

  &:hover {
    color: #fff;
  }
}

button {
  padding: 1rem 0 1rem 0;
  font-family: var(--prim-font);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  

  // @include responsive (){

  // }
  &:hover {
    box-shadow: /*0px 0px 0px 7px rgba(255, 255, 255, 0.5),
      0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)*/ 0px
      0px 0px 9px rgba(255, 255, 255, 0.5);
    border-radius: 1%;
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:focus{
    outline:0;
  }
}

.buttons {
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  width: 20rem;

  @include responsive(phone) {
    align-self: flex-end;
    margin-right: 3rem;
  }
  @include responsive(tab-land) {
    margin-top: 4rem;
    align-self: flex-end;
  }
}
.button1 {
  background-color: var(--acc-col2);
  color: var(--acc-text);
}
.button2 {
  margin-top: 1.2rem;
  background-color: var(--acc-col);
}
.aditional {
  margin: 0 auto;
  transition: all 0.3s;

  @include responsive(tab-land) {
    margin: 0 0 0 11vw;
  }
}
.icon {
  height: 3rem;
  width: 3rem;
  transition: all 0.3s;

  &:hover{
    fill: white;
  }
}

