:root {
  --lit-bg: #959595;
  --dark-bg: #161616;
  --acc-col: #e81743;
  --acc-col2: #1b1b2d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--dark-bg);
  line-height: 1.5;
  background-color: var(--lit-bg);
}


.info-data {
  background-image: url("../images/mypic.jpg");
  background-position: top left;
  background-size: 11vh;
  background-repeat: no-repeat;
  background-color: var(--dark-bg);
  width: 400px;
  height: 100vh;
  float: left;
}

.card {
  background: url("../images/card.png") top no-repeat;
  height: 90vh;
  background-size: contain;
}
